@import "tailwindcss";

@font-face {
  font-family: "dinneuzeitgroteskltw01-_812426";
  src: url("./assets/fonts/dinneuzeitgroteskltw01-_812426.latin.woff2");
}

@font-face {
  font-family: "Proxima N W01 Reg";
  src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot");
  src: url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/55c4f556836775174bfac94178a3fe82.svg#Proxima N W01 Reg")format("svg");
}

*, *::before, *::after {
  @apply box-border;
}

body {
  font-family: "Proxima N W01 Reg", sans-serif;
  font-size: 18px;
}

main {
  @apply flex-1;
}

button {
  @apply cursor-pointer;
}

.page-body {
  @apply bg-white py-16;
}

.page-header {
  @apply text-3xl text-center;
  font-family: "dinneuzeitgroteskltw01-_812426", sans-serif;
}